<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ScannerServiceSettings_TIM561" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="ScannerServiceSettings_TIM361" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    
    <section name="ObjectDetectorSettings_TIM561" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="ObjectDetectorSettings_TIM361" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    
    <section name="TcpCommunicationSettings_TIM561" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="TcpCommunicationSettings_TIM361" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    
    <section name="GuiSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <appSettings>
  </appSettings>

  <ScannerServiceSettings_TIM561>
    <add key="ScannerCommand" value="sRN LMDscandata" />
    <add key="ScannerIP" value="192.168.1.200" />
    <add key="ScannerPort" value="2111" />
    <!-- deg -->
    <add key="StartAngle" value="-30" />
    <!-- deg -->
    <add key="StopAngle" value="30" />
  </ScannerServiceSettings_TIM561>

  <ScannerServiceSettings_TIM361>
    <add key="ScannerCommand" value="sRN LMDscandatamon" />
    <add key="ScannerIP" value="192.168.1.121" />
    <add key="ScannerPort" value="2111" />
    <!-- deg -->
    <add key="StartAngle" value="-135" />
    <!-- deg -->
    <add key="StopAngle" value="135" />
  </ScannerServiceSettings_TIM361>

  <ObjectDetectorSettings_TIM561>
    <!-- ms -->
    <add key="RefreshInterval" value="500" /> 
    <add key="ObjectsJSON" value="CupLocations.json" />
    <add key="AutodetectJSON" value="Autodetect.json" />
  </ObjectDetectorSettings_TIM561>

  <ObjectDetectorSettings_TIM361>
    <!-- ms -->
    <add key="RefreshInterval" value="500" />
    <add key="ObjectsJSON" value="CupLocations.json" />
    <add key="AutodetectJSON" value="Autodetect.json" />
  </ObjectDetectorSettings_TIM361>
  
  <TcpCommunicationSettings_TIM561>
    <add key="TcpPort" value="5000" />
  </TcpCommunicationSettings_TIM561> 
  
  <TcpCommunicationSettings_TIM361>
    <add key="TcpPort" value="3000" />
  </TcpCommunicationSettings_TIM361>

  <GuiSettings>
    <add key="XMin" value="-1000" />
    <add key="XMax" value="1000" />
    <add key="YMin" value="0" />
    <add key="YMax" value="2000" />
  </GuiSettings>
</configuration>