<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <!-- ScannerService -->
    <add key="ScannerIP" value="192.168.1.200" />
    <add key="ScannerPort" value="2111" />
    <add key="StartAngle" value="-30" /> <!-- deg -->
    <add key="StopAngle" value="30" /> <!-- deg -->

    <!-- ObjectDetector -->
    <add key="RefreshInterval" value="5000" /> <!-- s -->
    <add key="ObjectsJSON" value="CupLocations.json" />
    <add key="AutodetectJSON" value="Autodetect.json" />

    <!-- TcpCommunication -->
    <add key="TcpPort" value="5000" />
  </appSettings>
</configuration>